<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Django Site</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url "home_page" %}">Home</a></li>
          <li><a href="{% url "profile_view" %}">Profile</a></li>
          <li><a href="{% url "group_list" %}">Groups</a></li>
          <li><a href="{% url "expense_list" %}">Expenses</a></li>
          <li><a href="#">Payments</a></li>
          <li><a href="{% url "logout_page" %}">Logout</a></li>
          {% else %}
          <li><a href="{% url "login_page" %}">Login</a></li>
          <li><a href="{% url "register_page" %}">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <div class="container">
      {% block content %}{% endblock content %}
    </div>

    <footer>
      <p>&copy; {% now "Y" %} My Django Site</p>
    </footer>
  </body>
</html>