{% extends "base.html" %} {% block content %}
<h1>Your Expenses</h1>
<a href="{% url 'expense_create' %}">Add Expense</a>
{% if expenses %}
<ul>
  {% for expense in expenses %}
  <li>
    <a href="{% url 'expense_detail' expense.id %}"
      >{{ expense.description }}</a
    >
    (in {{ expense.group.name }}) - Paid by {{ expense.paid_by.username }} -
    <span>₹{{ expense.amount }}</span> {% if request.user == expense.paid_by %}
    <span style="color: green">(You Paid)</span>
    {% elif expense.is_participant %} {% if expense.amount_owed is not None %}
    <span style="color: red">(You Owe: ₹{{ expense.amount_owed }})</span>
    {% endif %} {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No expenses related to you yet.</p>
{% endif %}{% endblock content %}
