{% extends "base.html" %} {% block content %}
<h1 class="group-detail-heading">{{ group.name }}</h1>
<p class="group-detail-info">
  <span class="group-detail-label">Created At:</span> {{ group.created_at }}
</p>
<p class="group-detail-info">
  <span class="group-detail-label">Updated At:</span> {{ group.updated_at }}
</p>

<h2 class="group-members-heading">Members:</h2>
{% if group.members.all %}
<ul class="group-members-list">
  {% for member in group.members.all %}
  <li class="group-member-item">{{ member.username }}</li>
  {% endfor %}
</ul>
{% else %}
<p class="group-detail-no-members">No members in this group.</p>
{% endif %}

<p class="group-detail-created-by">
  <span class="group-detail-label">Created By:</span>
  <b>{{ group.created_by.username }}</b>
</p>

<a href="{% url 'group_list' %}" class="group-detail-back-link"
  >Back to Group List</a
>{% endblock content %}
